*
{
    font-family: verdana;
}

h1 {
    font-family: verdana;
    font-size: 40pt;
    text-align: center;
}

div.abc {
    /* this is a test */
    font-size:32pt;
    font-family: verdana;
    border: black 1px dashed;
    height: 80px;
    width: 115px;
    display: inline-block;
    text-align:center;
    padding-top:20px;
    padding-right:10px;
    margin: 3px;
}

div.divBody{
    margin-left: .75in;
    width: 9.75in;
    height: 6.75in;
    border: dashed 3px red;
    padding-left: .2in;
    padding-right: .2in;
}

sub.other{
    font-size: 10pt;
    color:red;
}